.board {
  width: 600px;
  height: 1200px;
  margin-top: 10px;
}

.board div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  float: left;
}

button {
  margin-bottom: 20px;
}

#randNumDiv {
  display: inline-block;
  font-size: 25px;
  text-align: center;
  margin-left: 100px;
  width: 40px;
}

#showPlayer {
  display: inline-block;
  font-size: 25px;
  float: right;
  padding-right: 100px;
}
