body {
  margin-left: 20px;
  background-image: url(http://img.hdwallpaperpc.com/cover/119/Nature_Field_sunny_day_field_grass_Green_sunshine_blue_sky_cloud_flower_wide_nature_Landscape_beautiful_HD_118993_detail_thumb.jpg);
  background-size: cover
}

.board {
  width: 1000px;
  height: 1200px;
  margin-top: 50px;
}

.board div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  float: left;
}

#randNumDiv {
  vertical-align: top;
  color: white;
  display: inline-block;
  font-size: 35px;
  text-align: left;
  margin-left: 100px;
  width: 40px;
}

#showPlayer {
  color: black;
  vertical-align: top;
  display: inline-block;
  font-size: 35px;
  float: right;
  padding-right: 100px;
  margin-bottom: 10px
}

#showPlay img {
  width: 10px;
}

.oddSquare {
  background: white;
}

.evenSquare {
  background: white;
}

 img {
  width: 45px;
  height: 70px;
 }

 #titleImageDiv {
  text-align: center;
  height: 500px;
  margin-bottom: 15px;
 }

.titleImage {
  width: 50%;
  height: 300px;
}
.ladder {
  width: 100%;
  height: 80%;
}

.chute {
  width: 100%;
}
@media (max-width: 800px) {
  .board {
    width: 450px;
    margin-top: 10px;
  }

  #showPlayer {
    vertical-align: top;
    margin-bottom: 20px;
  }
}
